body,html{
    overflow-x: hidden;
}

#header_leftitems img{
    width: clamp(80px,15vw,250px);
    height: 20px;
}

#header_leftitems a{
    font-size: clamp(12px, 2vw, 16px);
}

#header_rightitems button{
    width: clamp(5px, 1vw, 50px);
}

#header_rightitems button >img{
    width: clamp(15px, 4vw,40px);
}

#header_rightitems a > img{
    width: clamp(40px,8vw,70px);
}


main{
    background-color: red;
    overflow-x: hidden;

}